<h2>Parameters</h2>
<div *ngIf="parameters$ | async as parameters; else loadingOrError">
  <div class="alert alert-danger" *ngIf="parametersResetToDefaultError">
    <strong>Failed to reset parameters to default!</strong>
  </div>
  <div class="table-responsive-sm" *ngIf="parameters; else notFound">
    <table class="table table-sm">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Time diff for groups (in sec)</th>
          <td>{{ parameters.timeDiffGroup }}</td>
        </tr>
        <tr>
          <th>Resize width (px)</th>
          <td>{{ parameters.resizeWidth }}</td>
        </tr>
        <tr>
          <th>Resize height (px)</th>
          <td>{{ parameters.resizeHeight }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-primary m-1" routerLink="edit">Edit</button>
      <button class="btn btn-primary m-1" (click)="open(content)">Reset to default values</button>      
    </div>
  </div>
  <ng-template #notFound>
    <div class="alert alert-warning">No record found.</div>
  </ng-template>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="error; else loading">
    <div class="alert alert-danger">{{ error }}</div>
  </ng-container>
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Warning</h4>
  </div>
  <div class="modal-body">
        <div>Are you sure you want to reset parameters values to default?</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">No</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Yes'); resetToDefault()">Yes</button>
  </div>
</ng-template>
