<div class="p-3">
  <h2>Images Processing For Google Photos</h2>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo01">  -->
    <div class="navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a routerLink="/user" class="nav-link" routerLinkActive="active">User Info</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <span *ngIf="isAdmin()">
            <a routerLink="/admin/users" class="nav-link" routerLinkActive="active">Admin - Users</a>
          </span>
        </li>
        <li class="nav-item">
          <span [ngSwitch]="isLoggedIn()">
            <a *ngSwitchCase="false" routerLink="/login" class="nav-link" routerLinkActive="active">Log in</a>
            <a *ngSwitchDefault (click)="logout()" class="nav-link" routerLinkActive="active">Log out</a>
          </span>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a routerLink="/registration-user" class="nav-link" routerLinkActive="active">User Registration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
