<h2>Edit User</h2>
<div *ngIf="user$ | async as user; else loadingOrError">
  <div class="alert alert-danger" *ngIf="userUpdateError">
    <strong>Failed to update user!</strong> Please check the data.
  </div>
  <form class="form" (ngSubmit)="updateUser()" [formGroup]="userEditForm">
    <div class="form-group">
      <label for="givenName">Given Name</label>
      <input type="text" class="form-control" formControlName="givenName" />
      <div *ngIf="givenName">
        <div *ngIf="givenName.invalid && (givenName.dirty || givenName.touched)" class="alert alert-danger">
          <div *ngIf="givenName.errors">
            <div *ngIf="givenName.errors.required || givenName.errors.minlength || givenName.errors.maxlength">
              Given name must be between 1 and 255 characters long.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="familyName">Family Name</label>
      <input type="text" class="form-control" formControlName="familyName" />
      <div *ngIf="familyName">
        <div *ngIf="familyName.invalid && (familyName.dirty || familyName.touched)" class="alert alert-danger">
          <div *ngIf="familyName.errors">
            <div *ngIf="familyName.errors.required || familyName.errors.minlength || familyName.errors.maxlength">
              Family name must be between 1 and 255 characters long.
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userEditForm.invalid">Save</button>
  </form>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="error; else loading">
    <div class="alert alert-danger">{{ error }}</div>
  </ng-container>
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>
</ng-template>
