.group {
    display: flex;
    flex-wrap: wrap;
  }
  
  .file {
    text-align: center;
  }
  
  .small-img {
    max-width: 200px;
  }
  
  .my-width {
    max-width: 900px
  }
  
  .my-width-groups {
    max-width: 900px
  }
  
  .carousel-div {
    margin: auto;
  }
  
  .carousel-img {
    max-height: 500px;  
  }