<ipfgp-user-info></ipfgp-user-info>
<div *ngIf="parameters$ | async as parameters; else loadingOrError">
  <div class="alert alert-info" *ngIf="lastUploadInfo$ | async as lastUploadInfo">
    <div>Last successfull upload: {{ lastUploadInfo.lastUploadDateTime | date:'yyyy-MM-dd HH:mm' }}.</div>
  </div>
  <div class="mx-auto mb-2 p-3">
    <h3>Parameters
      <button (click)="changeParamsFormShow()" class="btn btn-primary m-2">
        {{ paramsFormShow ? 'Hide' : 'Show' }}
      </button>
    </h3>
    <form [formGroup]="paramsForm" *ngIf="paramsFormShow">
      <div class="form-group row">
        <label for="timeDiffGroup" class="col-sm col-form-label">Time diff for groups (in sec)</label>
        <div class="col-sm">
          <input class="form-control" id="timeDiffGroup" type="text" formControlName="timeDiffGroup" />
        </div>
        <div class="card-text text-danger" *ngIf="paramsForm.get(['timeDiffGroup'])!.errors">
          Time diff for groups (in sec) must be between 60 and 86400.
        </div>
      </div>
      <div class="form-group row">
        <label for="resizeWidth" class="col-sm col-form-label">Resize width (px)</label>
        <div class="col-sm">
          <input class="form-control" id="resizeWidth" type="text" formControlName="resizeWidth" />
        </div>
        <div class="card-text text-danger" *ngIf="paramsForm.get(['resizeWidth'])!.errors">
          Resize width (px) must be between 1 and 10000.
        </div>
      </div>
      <div class="form-group row">
        <label for="resizeHeight" class="col-sm col-form-label">Resize height (px)</label>
        <div class="col-sm">
          <input class="form-control" id="resizeHeight" type="text" formControlName="resizeHeight" />
        </div>
        <div class="card-text text-danger" *ngIf="paramsForm.get(['resizeHeight'])!.errors">
          Resize height (px) must be between 1 and 10000.
        </div>
      </div>
    </form>
  </div>

  <div class="card p-3 mb-2 bg-light text-dark mx-auto" *ngIf="paramsForm.status != 'VALID'">
    <div class="card-text text-danger">
      Parameters not valid
    </div>
  </div>

  <div class="card p-3 mb-2 bg-light text-dark mx-auto">
    <form [formGroup]="inputFilesForm" *ngIf="paramsForm.status == 'VALID'">
      <div class="form-group mx-auto mb-2 p-3">
        <label for="inputFiles">Select images for processing</label>
        <input class="form-control" id="inputFiles" #file type="file" accept="image/*"
          (change)="processFiles(file.files)" multiple />
        <small class="form-text text-muted">
          <div>Accepted file types: .jpg</div>
          <div>Accepted file name formats (examples):</div>
          <div>20210924_133734.jpg</div>
          <div>IMG_20210924_133734_1.jpg</div>
          <div>WP_20210924_13_37_34_Pro.jpg</div>
        </small>
      </div>
    </form>
  </div>

  <div class="card p-3 mb-2 bg-light text-dark mx-auto" *ngIf="filesCount">
    <div class="card-body">
      <p class="card-text text-danger" *ngIf="mediaItems.length != filesCount">Resizing in progress
        ({{ mediaItems.length }} of {{ filesCount }})</p>
      <p class="card-text text-primary" *ngIf="mediaItems.length == filesCount">Finished: {{ mediaItems.length }} files
        resized to {{ resizeWidth }}x{{ resizeHeight }}px.</p>
      <div *ngIf="filesLoaded">
        <button class="btn btn-primary mb-2" (click)="createGroups()">
          Create groups
        </button>
        <p class="card-text" *ngIf="getMediaItemsCount()">
          {{ getMediaItemsCount() }} images in {{ mediaItemsGroups.length }} groups
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="mediaItemsGroups.length">
    <h3 class="mx-auto mb-2 p-3">Groups overview</h3>

    <table class="table table-bordered mx-auto p-3 mb-2">
      <th>Group</th>
      <th>Files</th>
      <th>Uploaded</th>
      <tr *ngFor="let group of mediaItemsGroups">
        <td>{{ group.name }}</td>
        <td>{{ group.mediaItemsForGrouping.length }}</td>
        <td>{{ group.getUploadedCount() }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ getMediaItemsCount() }}</td>
        <td>{{ getUploadedCount() }}</td>
      </tr>
    </table>

    <h3 class="mx-auto mb-2 p-3">Upload to Google Photos</h3>

    <div class="card p-3 mb-2 bg-light text-dark mx-auto">
      <div class="card-body">
        <p class="card-text">
          <button (click)="uploadToGooglePhotos()" class="btn btn-primary mb-2" [disabled]="!groupsCreated">Create
            albums
            and upload files to Google Photos</button>
        </p>
        <p class="card-text text-danger" *ngIf="uploadingStatus == 'InProgress'">UPLOADING IN PROGRESS</p>
        <p class="card-text text-primary" *ngIf="uploadingStatus == 'Success'">UPLOADING SUCCESSFULLY FINISHED</p>
        <p class="card-text text-danger" *ngIf="uploadingStatus == 'Fail'">UPLOADING FAILED (see the Groups Overview
          table
          for details)</p>
      </div>
    </div>
  </div>

  <div *ngIf="getMediaItemsCount()">
    <h3 class="mx-auto mb-2 p-3">Images in groups</h3>

    <div class="mx-auto mb-2 p-3">
      <div *ngFor="let group of mediaItemsGroups" class="card border p-3 mb-2">
        <!-- group header -->
        <div class="card-header mb-2 p-1 text-center">
          <span class="font-weight-bold" #groupName (blur)="updateGroupName(group, groupName.textContent!)">{{ group.name }}</span>
          <button (click)="removeGroup(group)" class="btn btn-primary m-2" title="Remove group">X</button>
        </div>

        <!-- group images -->

        <!-- bootstrap carousel -->
        <div class="carousel-div">
          <ngb-carousel [interval]=0>
            <ng-template ngbSlide *ngFor="let item of group.mediaItemsForGrouping">
              <div class="picsum-img-wrapper">
                <img [src]="item.mediaItem.contentUrl" class="carousel-img d-block w-100">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="error; else loading">
    <div class="alert alert-danger">{{ error }}</div>
  </ng-container>
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>
</ng-template>