<h2>User Detail</h2>
<div *ngIf="user$ | async as user; else loadingOrError">
  <div class="table-responsive-sm" *ngIf="user; else notFound">
    <table class="table table-sm">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Username</th>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>{{ user.email }}</td>
        </tr>        
        <tr>
          <th>Given Name</th>
          <td>{{ user.givenName }}</td>
        </tr>
        <tr>
          <th>Family Name</th>
          <td>{{ user.familyName }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-primary m-1" (click)="open(content)">Delete</button>
    </div>
  </div>
  <ng-template #notFound>
    <div class="alert alert-warning">No record found.</div>
  </ng-template>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="error; else loading">
    <div class="alert alert-danger">{{ error }}</div>
  </ng-container>
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Warning</h4>
  </div>
  <div class="modal-body">
        <div>Are you sure you want to delete your account with all your user data?</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">No</button>    
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Yes'); deleteUser()">Yes</button>
  </div>
</ng-template>
