<div class="alert alert-success" *ngIf="currentUser$ | async as currentUser; else loadingOrError">
  <div>Logged in as user {{ currentUser.givenName }} {{ currentUser.familyName }} ({{ currentUser.username }}).</div>
  <div>Previous login {{ currentUser.previousLoginDateTime | date:'yyyy-MM-dd HH:mm' }}.</div>
</div>

<div>
  <b>Images Processing For Google Photos</b> allows you to:
  <ul>
    <li>
      <span class="text-info">reduce images size</span> - resize your images using <a href="https://github.com/digitalascetic/ngx-pica">@digitalascetic/ngx-pica</a> package (in order to save storage space for Google Photos)
    </li>
    <li>
      <span class="text-info">group images to albums</span> - group your images based on date and time into albums with predefined name
    </li>
    <li>
      <span class="text-info">preview images in albums</span> - view images by album all at once with smaller previews or one by one with larger previews
    </li>
    <li>
      <span class="text-info">rename those albums</span> - change predefined name of albums
    </li>
    <li>
      <span class="text-info">exclude images from albums</span> - remove selected images from albums
    </li>
    <li>
      <span class="text-info">upload albums and images to Google Photos</span> - create new albums on Google Photos and upload your images to the albums
    </li>
  </ul>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="error; else loading">
    <div class="alert alert-secondary">No user logged in.</div>
  </ng-container>
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>
</ng-template>