<div>
  <b>Images processing for Google Photos</b> allows you to:
  <ul>
    <li>
      <span class="text-info">reduce images size</span> - resize your images using <a href="https://github.com/digitalascetic/ngx-pica">@digitalascetic/ngx-pica</a> package (in order to save storage space for Google Photos)
    </li>
    <li>
      <span class="text-info">group images to albums</span> - group your images based on date and time into albums with predefined name
    </li>
    <li>
      <span class="text-info">preview images in albums</span> - view images by album one by one with larger previews
    </li>
    <li>
      <span class="text-info">upload albums and images to Google Photos</span> - create new albums on Google Photos and upload your images to the albums
    </li>
  </ul>
</div>